@font-face {
    font-family: Inter, Arial, Helvetica, sans-serif;
    src: "fonts/Inter-Regular.ttf"
}

:root{
    --motif-color: #2b1529;
    --secondary-color: #453F78;
    --tertiary-color: #3F2E56;
    --text-color: #FAF2A1;
    --text2-color: #759AAB;
}

body {
    background: var(--motif-color);
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 16px;
    height: 100%;
}

body .container {
    position: relative;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    place-items: center;
}

.bg_element {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline;
    padding: 0 0;
    margin: 0;
    z-index: -1;
}

h1, h2, li, ol, ul {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration-style: dashed;
}

p {
    color: var(--text-color);
}

header {
    align-self: center;
    background-color: transparent;
    padding: 16px 20%;
    text-align: left;
    margin:0;
    font-size: 16px;
}

nav ul {
    float:none;
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    background-color:transparent;
    display:inline-block;
    list-style-type: none;
    padding: 8px 16px 8px 0px;
    margin: 0px;
}

nav ul li a {
    text-decoration: none;
    color:var(--text-color);
}

footer {
    background-color: transparent;
    text-align: left;
    margin:0;
    padding: 64px 20%;
    color:var(--text2-color);
    font-size:16px;
}

footer a, footer p {
    background-color: transparent;
    clear: both;
    margin: 0;
    padding: 0;
    color: var(--text2-color);
    font-size: 16px;
}

.landing {
    text-align: left;
    margin: 200px 0 0 0;
    padding: 0 20% 0 20%;
    color: transparent;
    background-color: transparent;
}

.landing h1 {
    font-weight: bold;
    font-size: 70px;
    padding: 20px 0px;
    margin: 0;
    color: var(--text-color);
    display: inline-block;
}

.landing h3 {
    font-weight: normal;
    font-size: 20px;
    padding: 0 0 20px 0;
    margin: 0;
    color:var(--text2-color)
}

.landing a {
    text-decoration: dashed;
    color:var(--text2-color);
    text-decoration-color: var(--text2-color);
}

.imglink {
    filter: invert(15%) sepia(86%) saturate(223%) hue-rotate(336deg) brightness(102%) contrast(96%);
    vertical-align: middle;
}

.landing .imglink {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
    padding: 0 0 0 0;
}

header .imglink {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    text-align: right;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}